/* ABOUT SECTION */
.about {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.about h2 {
  text-align: center;
  font-size: 2rem;
  color: #2e3d2f;
  margin-bottom: 2rem;
}

.about p {
  max-width: 800px;
  margin: 0 auto 1.5rem auto;
  font-size: 1rem;
  color: #555;
}

.about .highlight-text {
  text-align: center;
  font-size: 1.1rem;
  color: #6b5b95;
  font-weight: bold;
}
