/* reset.css */

/* RESET & GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navbar-height: 70px; /* Default navbar height for desktop */
}

/* Tablet Devices */
@media (max-width: 768px) {
  :root {
    --navbar-height: 60px; /* Adjusted for tablet */
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  :root {
    --navbar-height: 50px; /* Adjusted for mobile */
  }
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding-top: var(--navbar-height); /* Dynamic padding-top based on navbar height */
}

/* Prevent background scroll when a modal is open */
.modal-open {
  overflow: hidden;
}
